@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&display=swap');

body {
  padding-top: 120px;
  background-color: #f5eaea;
}

/* Navbar */
.navbar {
  background-color: #4d4646;
  font-family: 'Roboto Slab';
}

.navbar > .container img {
  width: 150px;
  padding-right: 15px;
}

.navbar > .container p {
  padding-top: 30px;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
.py-5 {
  background-color: #4d4646;
}

.m-0 {
  margin: auto;
  float: right;
  width: 200px;
}

/* Cards */
.row img {
  width: 253px;
  height: 160px;
}

.row {
  font-family: 'Roboto';
}

.row h1 {
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 50px;
  padding-top: 25px;
}

.card {
  background-color: #5b5656;
}

.container a {
  display: flex;
  font-size: 22px;
  justify-content: center;
  color: #57b36b;
}

.container h5 {
  display: flex;
  justify-content: center;
}

.container p {
  text-align: center;
}

.card h5 {
  color: #f5eaea;
  font-family: 'Roboto Slab';
}

.card a {
  font-family: 'Roboto Slab';
  font-size: 20px;
}

.card p {
  color: #f5eaea;
  font-family: 'Roboto';
}

.list-group-item {
  background-color: #5b5656;
  font-family: 'Roboto Slab';
  color: #57b36b;
}

#all {
  background-color: gray;
  color: #f5eaea;
}

/* Forms */

.form-email {
  width: 250px;
}

.form-check {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f5eaea;
}

.btn {
  width: 250px;
}

#form {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactForm {
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 60px;
  padding-right: 100px;
}

.form-check2 {
  padding-left: 20px;
}

/* Media Queries */

@media screen and (max-width: 991px) {
  body {
    padding-top: 150px;
  }
  .list-group {
    padding-bottom: 25px;
  }
  .container > .row img {
    padding-top: 10px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 768px) {
  .navbar > .container p {
    font-size: 15px;
  }
}

@media screen and (max-width: 570px) {
  .navbar > .container p {
    font-size: 14px;
  }
}

@media screen and (max-width: 468px) {
  .navbar > .container p {
    font-size: 13px;
  }
}

@media screen and (max-width: 1199px) {
  .navbar > .container p {
    font-size: 13px;
  }
  .container > .row img {
    max-width: 208px;
  }
  .container a {
    text-align: center;
  }
}
